/node_modules/
/.idea/
/build/
/generated/
/graph-node/data/
/subgraph.yaml
/backend/.env
/frontend/.env
/backend/hedera/
/subgraph/node_modules/
/subgraph/.idea/
/subgraph/build/
/subgraph/generated/
/subgraph/graph-node/data/
/subgraph/subgraph.yaml