/node_modules/
/.idea/
/build/
/generated/
/graph-node/data/
/subgraph.yaml
/backend/.env
/frontend/.env
/backend/hedera/
/subgraph/node_modules/
/subgraph/.idea/
/subgraph/build/
/subgraph/generated/
/subgraph/graph-node/data/
/subgraph/subgraph.yaml
.env

/backend/__pycache__
/backend/envName
/backend/src/__pycache__
/backend/src/document_sources
/backend/src/entities
/backend/src/shared