@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'StyreneA';
  src: local('StyreneA'), url(./assets/font/StyreneA-Thin-Trial-BF63f6cbd91263f.otf) format('opentype');
}

body {
  margin: 0;
  font-family: StyreneA, Arial, serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.ndl-progress-bar-wrapper .ndl-header .ndl-heading::after{
  animation: none !important;
}
